.slideshow {
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.slideshowSlider {
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.slide {
  display: inline-block;
}

.paginationButtons {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

.buttons {
  padding: 20px;
  margin-inline: 10px;
  background-color: #efefef;
  cursor: pointer;
}
